
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <mat-card class="p-2">
        <div class="text-center">
          <img src="../../../../../assets/invoist.png" alt="">
        </div>
        <mat-tab-group dynamicHeight class="p-4">
          <mat-tab label="Sign Up">
            <app-sign-up (sendSignForm)="sendSignForm()"></app-sign-up>
          </mat-tab>
          <mat-tab label="Login">
            <app-login (sendLoginForm)="sendLoginForm()"></app-login>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>

  </div>
</div>